stages:          
  - build
  - deploy

build:
  stage: build
  script:
    - mvn package
  tags: 
      - linux

  artifacts:
    paths:
      - target/myapp-g15.war
     
   
deploy:
  stage: deploy
  dependencies:
    - build
  script:
    - sudo cp target/myapp-g15.war /opt/tomcat/webapps/
    - sudo systemctl restart tomcat
  tags: 
    - linux