stages:          
  - build
  - deploy

build-job:       
  stage: build
  script:
    - echo "Compiling the code..."
    - mvn clean install package 
    - echo "Compile complete."
  tags:
    - linux

deploy-job:      
  stage: deploy  
  script:
    - echo "Deploying application..."
    - - cp "${CI_PROJECT_DIR}/target/myapp-g15.war" /opt/tomcat/webapps/
    - echo "Application successfully deployed."
  tags:
    - linux